.custom-bg{
    background:#075B7A!important;
    color:white;
}

.logo
{
    width: 50px;
    height: 50px;
}

.custom-bg2{
    background:#64FFDA!important;
    color: black;
}


.hv:hover{
    background: #00BFA5!important;
    color: white;
}

.alink:hover{
    color: #CFD8DC!important;
}

.blink:hover{
    color: darkolivegreen!important;
}

.cover{
    height: 200px;
    width: auto;
}

.highlight{
    color: #075B7A!important;
}

.icon{
    width: 5vw;
    height: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3,p{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ghead{
    color: #075B7A;
    margin-top: 25px;
    text-decoration: underline;
    font-family: cursive;
    font-size: 8vh;
}

.gpara{
    font-family: monospace;
    margin-top: 20px;
    font-size: 3.2vh;
}

.enable{
    width: 100%;
    margin-top: 20px;
    font-family:cursive;
    border: 1px solid;
    background: lavender;
    font-size: 20px;
}

.product-card{
    border: 1px solid darkgrey;
    padding: 5px;
}

.product-card1{
    border: 1px solid darkgrey;
    padding: 5px;
}

.product-card:hover
{
    background: #B2DFDB;
    cursor: pointer;
}

/*toast*/
#toast{
    min-width: 300px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: -120px;
    background: #333;
    padding: 15px;
    color: white;
    text-align: center;
    z-index: 1;
    font-size: 18px;
    visibility: hidden;
    box-shadow: 0px 0px 100px #000;
}

#toast.display{
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

.rent-duration{
    font-size: 10px!important;
    font-style: italic!important;
    /*text-decoration: line-through!important;*/
}